@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif!important;
  background-color: rgb(177, 175, 175);
  color: #0c0c0c;
}

html {
  font-size: 128.4%;
  box-sizing: border-box;
}

@media(max-width:1400px) {
  html {
    font-size: 104%;
  }
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Firefox */



.header-side {
  justify-content: space-evenly;
  display: flex;
  list-style: none;
  font-size: 15px;
  background: rgb(81, 86, 97);
  background: linear-gradient(180deg, rgba(81, 86, 97, 1) 0%, rgba(41, 42, 45, 1) 100%);
  flex-direction: column;
  width: 20%;
  height: 100vh;
  position: fixed;
  align-items: flex-start;
  text-decoration: none;
  top: 0;
  text-align: left;
  left: 0;
}

.links {
  text-decoration: none!important;
  color: rgb(235, 233, 230);
  letter-spacing: 2px;
  padding: 1rem;
  margin-left: 20px;
  text-align: left;
  transition: all .4s;
}

.links:hover {
  text-decoration: none!important;
}

.admin-heading {
  text-align: center;
  padding-top: 0rem;
  margin-top: 1rem;
  text-transform: uppercase;
  color: black;
  letter-spacing: 2px;
}



.admin-page {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.a:hover {
  color: white;
}



.new-input {
  text-align: left;
  margin-left: 20px;
}

.new-style {
  width: 20%!important;
}

.form-group {
  margin-right: 30px;
}

.add-new-student {
  width: 70%;
  margin-left: 24%;
  margin-top: 20px;
}

.margin-top {
  margin-top: 80px;
}

.fileInput {
  cursor: pointer;
  display: none;
}


.th {
  margin: 50px!important;
}

.table-sm td, .table-sm th {
  padding: .4rem;
  width: 34rem!important;
  font-size: 13px;
}

.table {
  background-color: rgb(212, 210, 207);
}


.list {
  flex-direction: row!important;
  text-align: left;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  position: relative;
  height: 250px;
}


.new-heading {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  background-color: beige;
  padding: 40px;
  align-self: flex-start;
  border: 1px solid black;
}

.box-1 {
  height: 150px;
  width: 70%;
  border: 1px solid black;
  border-top: 0px;
}

.box-2 {
  height: 150px;
  width: 30%;
  border: 1px solid black;
  border-top: 0px;
  border-left: 0px;
}

.upper-side {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}

.feemonth {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}

.headings {
  font-size: 8px;
  font-weight: bold;
  min-height: 15px;
  height: 15px;
}

.width {
  width: 25%;
  padding: 5px;
  border: 1px solid black;
}

.width-2 {
  width: 75%;
  padding: 5px;
  border: 1px solid black;
}

.left-side {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 20%;
  padding: 10px;
  flex-direction: column;
}

.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  width: 80%;
  margin-top: 10px;
  flex-direction: column;
}

.cash-voucher {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  width: 260px;
}

.todolist .todoitem.done .form-check-label {
  color: #999;
  text-decoration: line-through;
}

.todolist .todoitem.highlight {
  border-color: #ff2968;
  background-color: #ff8fb0;
}

.todolist .todoitem.highlight:last-child {
  border-color: #ff2968;
}

.todolist .todoitem:last-child {
  border-bottom: 1px solid #ccc;
}

.todolist .todoitem .btn-danger {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.todolist .todoitem .form-check-label {
  width: 100%;
}

.todolist .todoitem .form-check-label .form-check-input {
  margin-right: 1rem;
}

.itemClass {
  text-align: center!important;
  width: 400px;
}

.form-group {
  position: relative;
}

.custom-input {
  border: 0;
  border-bottom: 1px solid #b9b9b9;
}

.custom-input:focus {
  outline: none;
  box-shadow: none;
}

.list-group-item {
  cursor: pointer;
}

.staffpic {
  height: 70px;
  width: 70%;
}

@media print {
  .hide-on-print {
    display: none!important;
  }
  body {
    width: 100%;
  }
  .add-new-student {
    width: 100%!important;
    margin-left: 0!important;
  }
 
  .add-new-student {
    width: 100%;
    margin: 0px;
  }
  input, select {
    border: none!important;
    background-color: none!important;
  }
}


label, p, h1, h3, h2, span {
  color: black!important;
}

label {
  font-size: 12px;
}
